<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>com.mailroom.mlx-lm-server</string>
  <key>ProgramArguments</key>
  <array>
    <string>__QWEN_MLX_HOME__/bin/python</string>
    <string>-m</string>
    <string>mlx_lm.server</string>
    <string>--model</string>
    <string>__MODEL_SNAPSHOT__</string>
    <string>--host</string>
    <string>127.0.0.1</string>
    <string>--port</string>
    <string>1234</string>
  </array>
  <key>RunAtLoad</key><true/>
  <key>KeepAlive</key><true/>
  <key>StandardOutPath</key><string>__MAILARCHIVE_HOME__/logs/mlx_lm_server_1234.log</string>
  <key>StandardErrorPath</key><string>__MAILARCHIVE_HOME__/logs/mlx_lm_server_1234.log</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key><string>/usr/bin:/bin:/usr/sbin:/sbin:/opt/homebrew/bin</string>
  </dict>
</dict>
</plist>
